@font-face {
  font-family: Coco-thin;
  src: url("../assets/fonts/Cocogoose Pro Thin-trial.ttf"); }

@font-face {
  font-family: Coco-ultralight;
  src: url("../assets/fonts/Cocogoose Pro Ultralight-trial.ttf"); }

@font-face {
  font-family: Coco-light;
  src: url("../assets/fonts/Cocogoose Pro Light-trial.ttf"); }

@font-face {
  font-family: Coco-semilight;
  src: url("../assets/fonts/Cocogoose Pro Semilight-trial.ttf"); }

@font-face {
  font-family: Coco-trial;
  src: url("../assets/fonts/Cocogoose Pro-trial.ttf"); }

@font-face {
  font-family: Coco-thin-italic;
  src: url("../assets/fonts/Cocogoose Pro Thin Italic-trial.ttf"); }

@font-face {
  font-family: Coco-ultralight-italic;
  src: url("../assets/fonts/Cocogoose Pro UltraLight Italic-trial.ttf"); }

@font-face {
  font-family: Coco-light-italic;
  src: url("../assets/fonts/Cocogoose Pro Light Italic-trial.ttf"); }

@font-face {
  font-family: Coco-semilight-italic;
  src: url("../assets/fonts/Cocogoose Pro Semilight Italic-trial.ttf"); }

@font-face {
  font-family: Coco-trial-italic;
  src: url("../assets/fonts/Cocogoose Pro Italic-trial.ttf"); }

.main-content {
  background-image: url("../assets/images/crowd-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 68rem;
  opacity: 90%; }
  .main-content-menu {
    display: none;
    width: 3.3rem;
    filter: invert(85%) sepia(0%) saturate(2403%) hue-rotate(144deg) brightness(104%) contrast(86%);
    margin-left: 2rem; }
  .main-content-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    padding-top: 10rem; }
    .main-content-row h1 {
      font-family: Coco-ultralight;
      font-size: 3rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      margin-bottom: 2rem;
      padding-top: 0.5rem; }
    .main-content-row h2 {
      font-family: Coco-semilight;
      font-size: 6rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      margin-bottom: 4rem;
      padding-top: 1rem; }
    .main-content-row a {
      color: white; }
      .main-content-row a h3 {
        font-family: Coco-semilight;
        font-size: 2.5rem;
        background-color: #ec5242;
        padding: 1.5rem 1.5rem 1rem;
        margin-left: 6rem;
        border: 0.1875rem solid #272a31;
        border-radius: 1.5rem; }
    .main-content-row p:nth-child(4) {
      font-family: "Lato", sans-serif;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      width: 65%;
      color: #494949;
      background-color: #d3d3d3;
      padding: 1rem 1.3rem;
      margin-top: 4rem;
      border-radius: 0.5rem; }
    .main-content-row-bottom {
      display: flex;
      flex-direction: column; }
      .main-content-row-bottom h3 {
        font-family: "Lato", sans-serif;
        font-size: 2.5rem;
        background-color: #d3d3d3;
        color: #ec5242;
        margin-top: 2rem;
        padding: 0.3rem;
        border-radius: 0.5rem; }
      .main-content-row-bottom p {
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
        background-color: #d3d3d3;
        color: #ec5242;
        margin-top: 0.8rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        width: fit-content; }

.main-program {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  height: 35rem; }

.main-about-content {
  background-image: url("../assets/images/crowd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 68rem;
  opacity: 90%;
  text-align: center; }
  .main-about-content-menu {
    display: none;
    width: 3.3rem;
    filter: invert(85%) sepia(0%) saturate(2403%) hue-rotate(144deg) brightness(104%) contrast(86%);
    margin-left: 2rem; }
  .main-about-content-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 13rem; }
    .main-about-content-row h1 {
      font-family: Coco-semilight;
      font-size: 5rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      text-align: center;
      margin-bottom: 4rem; }
    .main-about-content-row a {
      color: white; }
      .main-about-content-row a h3 {
        font-family: Coco-semilight;
        font-size: 2.5rem;
        background-color: #ec5242;
        padding: 1.5rem 1.5rem 1rem;
        border: 0.1875rem solid #272a31;
        border-radius: 1.5rem; }
    .main-about-content-row p {
      font-family: "Lato", sans-serif;
      font-size: 1.1rem;
      color: white;
      margin-top: 3rem;
      margin-bottom: 1rem; }
    .main-about-content-row p:nth-child(3) {
      font-family: "Lato", sans-serif;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      width: 65%;
      color: #ec5242;
      background-color: #d3d3d3;
      padding: 1rem 1.3rem;
      margin-top: 4rem;
      border-radius: 0.5rem; }
    .main-about-content-row-email {
      display: flex;
      align-items: flex-end; }
      .main-about-content-row-email span a {
        font-family: "Lato", sans-serif;
        font-size: 1.1rem; }
      .main-about-content-row-email span a:hover {
        text-decoration: underline;
        color: #ec5242; }
      .main-about-content-row-email img {
        width: 0.9rem;
        height: 0.9rem;
        filter: invert(100%);
        margin-left: 0.3rem; }

.about-previous-events {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  height: 35rem; }
  .about-previous-events-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }
    .about-previous-events-row h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Coco-semilight;
      font-size: 1.5rem; }
    .about-previous-events-row h2::after {
      content: "";
      margin-top: 1.5rem;
      border: 0.125rem solid #ec5242;
      width: 2rem; }
    .about-previous-events-row p {
      font-family: "Lato", sans-serif;
      font-size: 1rem;
      margin-top: 1.5rem; }
    .about-previous-events-row-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 2rem;
      width: 50rem;
      margin-top: 3rem; }
      .about-previous-events-row-grid-item1 {
        height: 12rem;
        color: white;
        background-image: url("/assets/images/band.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1; }
        .about-previous-events-row-grid-item1-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background: #272a31;
          background: linear-gradient(90deg, #272a31 4%, rgba(160, 67, 60, 0.6) 21%, rgba(200, 75, 63, 0.6) 34%, rgba(236, 82, 66, 0.6) 50%, rgba(160, 67, 60, 0.6) 75%, #272a31 96%); }
          .about-previous-events-row-grid-item1-content h1 {
            font-family: "Lato", sans-serif;
            font-size: 2rem;
            color: white; }
          .about-previous-events-row-grid-item1-content p {
            font-family: Coco-light;
            font-size: 0.9rem; }
      .about-previous-events-row-grid-item2 {
        height: 12rem;
        color: white;
        background-image: url("/assets/images/band1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1; }
        .about-previous-events-row-grid-item2-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background: #272a31;
          background: linear-gradient(90deg, #272a31 4%, rgba(160, 67, 60, 0.6) 21%, rgba(200, 75, 63, 0.6) 34%, rgba(236, 82, 66, 0.6) 50%, rgba(160, 67, 60, 0.6) 75%, #272a31 96%); }
          .about-previous-events-row-grid-item2-content h1 {
            font-family: "Lato", sans-serif;
            font-size: 2rem;
            color: white; }
          .about-previous-events-row-grid-item2-content p {
            font-family: Coco-light;
            font-size: 0.9rem; }

.top-nav {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5rem;
  background-color: #272a31;
  color: white; }
  .top-nav img {
    margin: 0 0.5rem;
    filter: invert(100%); }
  .top-nav ul {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    margin-left: 2rem; }
  .top-nav li:first-child {
    margin-right: 1.5rem; }
  .top-nav a {
    color: white; }

.nav-twitter-icon,
.nav-face-icon {
  width: 1.4rem; }

.nav-insta-icon {
  width: 1.1rem; }

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background: #272a31;
  background: linear-gradient(135deg, #272a31 21%, #a0433c 51%, #c84b3f 66%, #ec5242 100%); }
  .bottom-nav-left {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 2.2rem; }
    .bottom-nav-left-ticket-logo {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      background-image: url("../assets/images/ticket-neon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0.4rem 2rem 0.4rem 9rem;
      position: relative;
      bottom: 1.3rem; }
    .bottom-nav-left h1 {
      font-family: Coco-light;
      font-size: 2rem;
      color: white; }
  .bottom-nav-right {
    display: flex;
    align-items: center;
    margin-right: 5rem; }
    .bottom-nav-right ul {
      display: flex;
      margin-right: 3rem; }
      .bottom-nav-right ul li {
        margin-left: 1.3rem;
        text-align: center; }
        .bottom-nav-right ul li a {
          font-family: "Lato", sans-serif;
          font-size: 1.2rem;
          color: white; }
        .bottom-nav-right ul li a:hover {
          color: #d3d3d3; }
    .bottom-nav-right button {
      font-family: "Lato", sans-serif;
      font-size: 1rem;
      position: relative;
      width: 7.5rem;
      height: 3rem;
      padding-left: 2rem;
      border: 0.1875rem solid my-gray;
      border-radius: 0.375rem;
      background-color: #272a31;
      color: white;
      cursor: pointer;
      box-shadow: 6px 6px 23px -1px rgba(0, 0, 0, 0.75); }
      .bottom-nav-right button img {
        width: 1.5rem;
        margin-right: 0.5rem;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        filter: invert(100%); }
      .bottom-nav-right button span:hover {
        filter: invert(43%) sepia(29%) saturate(3059%) hue-rotate(334deg) brightness(95%) contrast(95%); }
      .bottom-nav-right button span {
        position: relative;
        bottom: 0.2rem; }

.black-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272a31;
  height: 13rem; }
  .black-footer-logo img {
    width: 7rem;
    height: 7rem;
    filter: invert(100%);
    margin-right: 4rem; }
  .black-footer-logo-right p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: white; }

@media screen and (max-width: 1500px) {
  .top-nav ul {
    margin-right: 3rem; }
  .top-nav li:first-child {
    margin-right: 1.5rem; }
  .top-nav a {
    color: white; }
  .bottom-nav-left-ticket-logo {
    margin: 0.4rem 2rem 0.4rem 2rem; }
  .bottom-nav-left h1 {
    font-size: 1.8rem; }
  .bottom-nav-right {
    margin-right: 2.8rem; }
    .bottom-nav-right ul {
      margin-right: 2rem; }
    .bottom-nav-right li a {
      font-family: "Lato", sans-serif;
      font-size: 1.1rem; }
  .main-about-content {
    height: 63rem; }
    .main-about-content-row {
      padding-top: 9rem; }
      .main-about-content-row h1 {
        font-size: 4.5rem;
        margin-bottom: 3rem; }
      .main-about-content-row a {
        color: white; }
        .main-about-content-row a h3 {
          font-size: 2rem; }
      .main-about-content-row p {
        font-size: 1.1rem;
        color: white;
        margin-top: 3rem;
        margin-bottom: 1rem; }
      .main-about-content-row p:nth-child(3) {
        font-size: 1.3rem;
        line-height: 2rem;
        width: 65%;
        color: #ec5242;
        background-color: #d3d3d3;
        padding: 1rem 1.3rem;
        margin-top: 4rem;
        border-radius: 0.5rem; }
      .main-about-content-row span a {
        font-family: "Lato", sans-serif;
        font-size: 1.1rem; }
      .main-about-content-row span a:hover {
        text-decoration: underline;
        color: #ec5242; }
      .main-about-content-row-email {
        display: flex;
        align-items: flex-end; }
        .main-about-content-row-email img {
          width: 0.9rem;
          height: 0.9rem;
          filter: invert(100%);
          margin-left: 0.3rem; } }

@media screen and (max-width: 1200px) {
  .bottom-nav-right ul {
    margin-right: 1rem; }
    .bottom-nav-right ul li {
      margin-left: 1rem; }
      .bottom-nav-right ul li a {
        font-size: 1.1rem; }
  .main-about-content {
    height: 60rem; }
    .main-about-content-row p:nth-child(3) {
      width: 50rem; } }

@media screen and (max-width: 992px) {
  .bottom-nav-right ul {
    margin-right: 1rem; }
    .bottom-nav-right ul li {
      margin-left: 1rem; }
      .bottom-nav-right ul li a {
        font-size: 1.1rem; }
    .bottom-nav-right ul li:nth-child(5),
    .bottom-nav-right ul li:nth-child(4) {
      display: none; }
  .main-about-content-row {
    padding-top: 6rem; }
    .main-about-content-row p:nth-child(3) {
      width: 40rem; }
      .main-about-content-row p:nth-child(3) span {
        display: none; }
  .about-previous-events-row-grid {
    width: 45rem; } }

@media screen and (max-width: 764px) {
  .top-nav {
    display: none; }
  .bottom-nav {
    display: none; }
  .main-about-content {
    height: 55rem; }
    .main-about-content-menu {
      display: block;
      padding-top: 2rem; }
    .main-about-content-row {
      padding-top: 3rem; }
      .main-about-content-row h1 {
        font-size: 4rem; }
      .main-about-content-row a h3 {
        display: none; }
      .main-about-content-row p:nth-child(3) {
        margin-bottom: 0;
        margin-top: 0;
        width: 27rem; }
      .main-about-content-row p:nth-child(4) {
        font-size: 1.1rem;
        margin-top: 2.4rem; }
      .main-about-content-row-email span a {
        font-size: 1.1rem; }
  .about-previous-events {
    padding: 20rem 0;
    height: 60rem; }
    .about-previous-events-row-grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: 30rem; }
      .about-previous-events-row-grid-item2, .about-previous-events-row-grid-item1 {
        height: 19rem; }
        .about-previous-events-row-grid-item2-content h1, .about-previous-events-row-grid-item1-content h1 {
          font-size: 3rem; }
        .about-previous-events-row-grid-item2-content p, .about-previous-events-row-grid-item1-content p {
          font-size: 1.3rem; }
  .black-footer-logo {
    display: none; } }
