// INDEX - MAIN CONTENT
main {
  .general-menu {
    display: none;
    width: 3.3rem;
    filter: invert(85%) sepia(0%) saturate(2403%) hue-rotate(144deg) brightness(104%) contrast(86%);
    margin-left: 2rem;
  }
}

.main-content {
  background-image: url("../assets/images/crowd-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 68rem;
  opacity: 90%;
  height: fit-content;
  padding: 10rem 0;

  &-menu {
    display: none;
    width: 3.3rem;
    filter: invert(85%) sepia(0%) saturate(2403%) hue-rotate(144deg) brightness(104%) contrast(86%);
    margin-left: 2rem;
  }

  &-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;

    h1 {
      font-family: Coco-ultralight;
      font-size: 3rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      margin-bottom: 2rem;
      padding-top: 0.5rem;
    }

    h2 {
      font-family: Coco-semilight;
      font-size: 6rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      margin-bottom: 4rem;
      padding-top: 1rem;
    }

    a {
      color: white;

      h3 {
        font-family: Coco-semilight;
        font-size: 2.5rem;
        background-color: $my-red;
        padding: 1.5rem 1.5rem 1rem;
        margin-left: 6rem;
        border: 0.1875rem solid $my-black;
        border-radius: 1.5rem;
      }
    }

    p:nth-child(4) {
      font-family: $font-lato;
      font-size: 1.5rem;
      line-height: 2rem;
      width: 65%;
      color: rgb(73, 73, 73);
      background-color: $my-gray;
      padding: 1rem 1.3rem;
      margin-top: 4rem;
      border-radius: 0.5rem;
    }
  
    &-bottom {
      display: flex;
      flex-direction: column;
      
      h3 {
        font-family: $font-lato;
        font-size: 2.5rem;
        background-color: $my-gray;
        color: $my-red;
        margin-top: 2rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
      }

      p {
        font-family: $font-lato;
        font-size: 1.4rem;
        background-color: $my-gray;
        color: $my-red;
        margin-top: 0.8rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        width: fit-content;
      }
    }
  }
}

// INDEX - MAIN PROGRAM
.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282B32;
  height: fit-content;
  padding-top: 5rem;
  padding-bottom: 7rem;

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Coco-ultralight;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 3rem;
  }

  h2::after {
    content: "";
    margin-top: 1.5rem;
    border: .1rem solid $my-red;
    width: 4rem;
  }

  &-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 78%; 
    height: fit-content;

    &-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 0.5rem;
      width: 100%;
      height: fit-content;
      justify-content: space-around;
      
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;

        img {
          width: 4rem;
          z-index: 1;
          margin-bottom: 1.5rem;
          filter: invert(100%);
        }

        h3 {
          font-family: Coco-semilight;
          font-size: 1.1rem;
          z-index: 1;
          color: $my-red;
          margin-bottom: 1rem;
        }

        p {
          font-family: $font-lato;
          font-size: 1rem;
          line-height: 1.5rem;
          z-index: 1;
          color: white;
        }
      }
    }
  }

  &-bottom-link {
    margin-top: 7rem;
    font-family: Coco-light;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &-button-smscreen {
    display: none;
    text-transform: uppercase;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.75);
  }
}

// INDEX - FEATURED ARTISTS
.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Coco-ultralight;
    font-size: 1.8rem;
    color: white;
    color: rgb(78, 78, 78);
    margin-bottom: 3rem;
  }

  h2::after {
    content: "";
    margin-top: 1.5rem;
    border: 0.1rem solid $my-red;
    width: 4rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    width: 75%;
    
    a {
      display: flex;
      color: black;
    }

    &-item {
      display: flex;

      &-imgbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 33%;
        height: fit-content;
        margin-right: 1.3rem;
        padding-top: 0.8rem;
        padding-left: 0.9rem;
        
        img {
          width: 5rem;
        }

        div {
          border-top: 0.5rem solid $my-red;
          border-left: 0.5rem solid $my-red;
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 0;
          left: 0;
        }

        .img8,
        .img2 {
          width: 6rem;
        }

        .img7,
        .img4 {
          width: 6.5rem;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;

        h2 {
          font-family: Coco-light;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        &-p {
          display: flex;
          flex-direction: column;
          font-family: $font-lato;
          font-style: italic;
          font-size: 0.9rem;
          color: $my-red;
        }

        &-p::after {
          content: "";
          margin-top: 0.6rem;
          border: 0.0625rem solid $my-gray;
          width: 2rem;
        }
        
        p:last-child {
          font-family: $font-lato;
          font-size: 0.9rem;
          line-height: 1.2rem;
          margin-top: 0.6rem;
        }
      }
    }
  }
}

// INDEX - FOOTER (see at the bottom of thestyle.scss file)
