// ABOUT - MAIN CONTENT
.main-content {
  background-image: url("../assets/images/crowd-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 68rem;
  opacity: 90%;

  &-menu {
    display: none;
    width: 3.3rem;
    filter: invert(85%) sepia(0%) saturate(2403%) hue-rotate(144deg) brightness(104%) contrast(86%);
    margin-left: 2rem;
  }

  &-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    padding-top: 10rem;

    h1 {
      font-family: Coco-ultralight;
      font-size: 3rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      margin-bottom: 2rem;
      padding-top: 0.5rem;
    }

    h2 {
      font-family: Coco-semilight;
      font-size: 6rem;
      background-image: url("/assets/images/ticket-letters.jpg");
      background-position: center;
      background-size: contain;
      color: transparent;
      -webkit-background-clip: text;
      margin-bottom: 4rem;
      padding-top: 1rem;
    }
  
    a {
      color: white;

      h3 {
        font-family: Coco-semilight;
        font-size: 2.5rem;
        background-color: $my-red;
        padding: 1.5rem 1.5rem 1rem;
        margin-left: 6rem;
        border: 0.1875rem solid $my-black;
        border-radius: 1.5rem;
      }
    }
  
    p:nth-child(4) {
      font-family: $font-lato;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      width: 65%;
      color: rgb(73, 73, 73);
      background-color: $my-gray;
      padding: 1rem 1.3rem;
      margin-top: 4rem;
      border-radius: 0.5rem;
    }
  
    &-bottom {
      display: flex;
      flex-direction: column;
      
      h3 {
        font-family: $font-lato;
        font-size: 2.5rem;
        background-color: $my-gray;
        color: $my-red;
        margin-top: 2rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
      }

      p {
        font-family: $font-lato;
        font-size: 1.4rem;
        background-color: $my-gray;
        color: $my-red;
        margin-top: 0.8rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        width: fit-content;
      }
    }
  }
}

// ABOUT - PREVIOUS EVENTS
.main-program {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  height: 35rem;

  &-row {
    
  }
}