.tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;

  &-menu {
    display: none;
    width: 3.3rem;
    filter: invert(85%) sepia(0%) saturate(2403%) hue-rotate(144deg) brightness(104%) contrast(86%);
    margin-left: 2rem;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Coco-ultralight;
    font-size: 1.8rem;
    color: white;
    color: rgb(78, 78, 78);
    margin-bottom: 3rem;
  }

  h1::after {
    content: "";
    margin-top: 1.5rem;
    border: .1rem solid $my-red;
    width: 4rem;
  }

  &-row {
    display: flex;
    justify-content: center;
    justify-content: center;
    width: fit-content;
    width: 93%;
    height: fit-content;

    &-grid {
      display: grid;
      grid-template-columns: 0.7fr 0.9fr 0.9fr 1.3fr 1.6fr;
      grid-template-rows: repeat(4, 1fr);
      width: 60%;
      text-align: center;
      border: 0.5rem solid $my-red;

      form,
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-lato;
        font-size: 1.1rem;
        line-height: 1.5rem;
        height: 5rem;
        border: 0.0625rem solid $my-gray;
        padding: 0 1rem;
      }

      form {
        label {
          margin-bottom: 0.5rem;
        }
      }

      p:nth-child(4),
      p:nth-child(3),
      p:nth-child(2),
      p:first-child {
        background-color: rgb(238, 238, 238);
      }

      p:nth-child(3) {
        grid-column: 3 / span 2;
      }
    }
  }
}