$font-lato: 'Lato', sans-serif;

@font-face {
  font-family: Coco-thin;
  src: url("../assets/fonts/Cocogoose Pro Thin-trial.ttf");
}

@font-face {
  font-family: Coco-ultralight;
  src: url("../assets/fonts/Cocogoose Pro Ultralight-trial.ttf");
}

@font-face {
  font-family: Coco-light;
  src: url("../assets/fonts/Cocogoose Pro Light-trial.ttf");
}

@font-face {
  font-family: Coco-semilight;
  src: url("../assets/fonts/Cocogoose Pro Semilight-trial.ttf");
}

@font-face {
  font-family: Coco-trial;
  src: url("../assets/fonts/Cocogoose Pro-trial.ttf");
}

@font-face {
  font-family: Coco-thin-italic;
  src: url("../assets/fonts/Cocogoose Pro Thin Italic-trial.ttf");
}

@font-face {
  font-family: Coco-ultralight-italic;
  src: url("../assets/fonts/Cocogoose Pro UltraLight Italic-trial.ttf");
}

@font-face {
  font-family: Coco-light-italic;
  src: url("../assets/fonts/Cocogoose Pro Light Italic-trial.ttf");
}

@font-face {
  font-family: Coco-semilight-italic;
  src: url("../assets/fonts/Cocogoose Pro Semilight Italic-trial.ttf");
}

@font-face {
  font-family: Coco-trial-italic;
  src: url("../assets/fonts/Cocogoose Pro Italic-trial.ttf");
}

@font-face {
  font-family: Poster-king;
  src: url("../assets/fonts/The\ Poster\ King.otf");
}