@import 'config';
@import 'tipography';
@import 'index';
@import 'about';
@import 'tickets';

// GENERAL NAVIGATION
.top-nav {
  font-family: $font-lato;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5rem;
  background-color: $my-black;
  color: white;

  img {
    margin: 0 0.5rem;
    filter: invert(100%);
  }

  ul {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    margin-left: 2rem;
  }

  li:first-child {
    margin-right: 1.5rem;
  }

  a {
    color: white;
  }
}

.nav-twitter-icon,
.nav-face-icon {
  width: 1.4rem;
}

.nav-insta-icon {
  width: 1.1rem;
}

// BOTTOM NAVBAR
.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background: rgb(39,42,49);
  background: linear-gradient(135deg, rgba(39,42,49,1) 21%, rgba(160,67,60,1) 51%, rgba(200,75,63,1) 66%, rgba(236,82,66,1) 100%);

  &-left {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 2.2rem;

    &-ticket-logo {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      background-image: url("../assets/images/ticket-neon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0.4rem 2rem 0.4rem 9rem;
      position: relative;
      bottom: 1.3rem;
    }

    h2 {
      font-family: Coco-light;
      font-size: 2rem;
      color: white;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    margin-right: 5rem;

    ul {
      display: flex;
      margin-right: 3rem;

      li {
        margin-left: 1.3rem;
        text-align: center;
  
        a {
          font-family: $font-lato;
          font-size: 1.2rem;
          color: white;
        }
  
        a:hover {
          color: $my-gray;
        }
      }
    }

    button {
      font-family: $font-lato;
      font-size: 1rem;
      position: relative;
      width: 7.5rem;
      height: 3rem;
      padding-left: 2rem;
      border: 0.1875rem solid my-gray;
      border-radius: 0.375rem;
      background-color: $my-black;
      color: white;
      cursor: pointer;
      -webkit-box-shadow: 6px 6px 23px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 6px 23px -1px rgba(0,0,0,0.75);
      box-shadow: 6px 6px 23px -1px rgba(0,0,0,0.75);

      img {
        width: 1.5rem;
        margin-right: 0.5rem;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        filter: invert(100%);
      }

      span:hover {
        filter: invert(43%) sepia(29%) saturate(3059%) hue-rotate(334deg) brightness(95%) contrast(95%);
      }

      span {
        position: relative;
        bottom: 0.2rem;
      }
    }
  }
}

// MAIN FOOTER
.top-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #424244;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Coco-light;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h1::after {
    content: "";
    margin-top: 1.5rem;
    border: .0625rem solid $my-red;
    width: 2rem;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  
    img {
      width: 10rem;
      filter: invert(94%) sepia(4%) saturate(0%) hue-rotate(140deg) brightness(94%) contrast(84%);
      margin-right: 3rem;
    }

    img:nth-child(5),
    img:nth-child(4) {
      width: 6rem;
    }
  }
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 13rem;

  img {
    width: 7rem;
    height: 7rem;
    margin-right: 4rem;
  }

  &-right {
    p {
      font-family: $font-lato;
      font-size: 1rem;
      color: black;
    }
  }
}

@import 'media';
